body {
  font-family: 'Montserrat', sans-serif;
   user-select: none;
}

.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-weight: bold;
}

img{ pointer-events: none;}
.navbar{
  padding: 0.25% 5% 0.25% 10px;
  color: white;
  background-color: #ff4c68;
}
.nav-item{
  padding:  0 20px ;
}
.title {
  background-color: #ff4c68;
}

.container-fluid{
  padding: 1% 5%;
}
.content_container{
  margin-top: 50px;
}

h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 2rem;
  color: #fff;
}
h2{
  font-family: 'Montserrat-bold',sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 5px;
  color: #fff;

}
h3{
  font-family: 'Montserrat-bold',sans-serif;
  font-weight: 800;
  margin-top: 0.5rem;
  text-align: center;
  padding-top: 2%;
}
p{
  color: #8f8f8f;
  text-align:center;
}
.download-btn{
  margin: 1rem 0.5rem 0.5rem;
}
.iphone_img{
  margin-left: 30px;
  width: 300px;
  transform: rotate(15deg);
  position: absolute;
}

.col_feat{
  display: inline;
}
.features{
  padding: 8% 10% 5%;
  margin: 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #fff;

}
.col_feat{
  padding-bottom: 1rem;
}
.icon{
 color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}

.testimonials{
  background-color: #ef8172;
  text-align: center;
}
.testimonial_img{
  width: 10%;
  border-radius: 100px;
  margin: 5% 3%;
}
a{
  color: inherit;
  text-decoration: none;
}

.press{
  background-color: #ef8172;
  text-align: center;
  padding: 5% 1% 3% 1%;

}

.press_icon{
  width: 20%;
  margin: 1% 15px;
}

.pricing{
  padding: 3% 15%;
}
.price_div{
  text-align: center;
  margin: 1% 4%;
}
.price_div:hover{
  background-color: #413F42;
  color: white;
  line-height: 1.5;
}
.cta{
  background-color: #ef8172;
  text-align: center;
}
.social{
  padding:2% 20% 1%;
  text-align: center;
}
.fa{
  padding: 1% 5%;
}
.h3_cta:hover{
  color: white;
}
.insta:hover{
  color: #E80F88;
}
.twitter:hover{
  color: #31E1F7;
}
.gmail:hover{
  color: #000;
}

@media (max-width:780px) {
  .iphone_img{
    transform: rotate(0deg);
    position: static;
  }
  .download-btn1{
    position: relative;
    top: 680px;
  }
}
